body {
    background-color: rgb(102, 94, 94);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
    color: white;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

form {
    width: 30rem;
    margin: 3rem auto;
    background-color: rgb(238, 234, 225);
    padding: 1rem;
    border-radius: 6px;
}

label {
    margin-bottom: 0.5rem;
    display: block;
}


input, textarea, select {
    width: 20rem;
    display: block;
    margin-bottom: 1rem;
    box-sizing: border-box;
    font: inherit;
    border: 1px solid rgb(184, 184, 184);
    padding: 0.25rem;
    color: rgb(63, 58, 58);
}

textarea {
    resize: none;
}

input:focus , textarea:focus{
    background-color: rgb(251, 248, 255);
    color: rgb(32, 5, 63);
    border-color: rgb(32, 5, 63);
}

button {
    display: block;
    color: white;
    background-color: rgb(32, 5, 63);
    border: 1px solid rgb(32, 5, 63);
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
    font: inherit;
    cursor: pointer;
}

button:hover {
    background-color: rgb(75, 40, 116);
    border-color: rgb(75, 40, 116);
}

.form-control-inline {
    display:  flex;
}

.form-control-inline input {
    width:  auto;
    margin-right: 0.25rem;
    
}

