body {
    background: linear-gradient(30deg, rgb(77,77,77), rgb(58,58,58));
    color:rgb(68, 68, 68);
}

#page-logo a {
    color: rgb(183,230,235);
}

header {
    position: static;
}

header a {
    color: rgb(183,230,235);
}

header nav a:hover {
   background-color:rgb(183,230,235);
   color: rgb(59, 59, 59);
}

main ul {
    width: 1200px;
    margin: 0 auto 48px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 20px;
}

li:nth-of-type(3) {
    grid-column: 1 / span 2;
}

li:nth-of-type(8) {
    grid-column: 1 / span 2;
}

main li {
    display: flex;
    background-color:lightblue;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
    border-radius: 6px;
    overflow: hidden;
}

main li img {
    width: 300px;
    height: 280px;
    object-fit: cover;
}

.item-content {
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-content {
    margin: 0;
}


.actions {
    text-align: right;
}

.actions a {
    text-decoration: none;
    color:rgb(68, 68, 68);
    padding: 3px 6px;
    font-size: 20px;
    border-radius: 7px;
    font-weight: bold;
    
}

.actions a:hover {
  background-color:rgb(114, 169, 206);
  color: rgb(6, 72, 94);
  box-shadow: 2px 4px 8px rgb(68 67 67);
  font-weight: bold;
}