body {
  font-family: "Open Sans", sans-serif;
  margin: 0px;
  background-color: rgb(44, 41, 38);
  color: white;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

#main-header {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(78, 33, 1);
  padding: 0 5%;
}

#logo {
  font-size: 1.75rem;
  font-weight: bold;
  color: rgb(236, 107, 98);
}

.menu-btn {
  width: 3rem;
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  display: none;
}

.menu-btn span {
  width: 100%;
  height: 3px;
  background-color: white;
}

#main-header ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

#main-header li {
  margin: 0 1rem;
}

#main-header nav a {
  font-size: 1.25rem;
  color: rgb(245, 203, 179);
}

#main-header nav a:hover {
  color: rgb(252, 168, 13);
}

#side-drawer {
  width: 100%;
  height: 100%;
  background-color: rgb(29, 26, 27);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}

#side-drawer:target {
  display: block;
}

#side-drawer header {
  height: 5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 5%;
}

#side-drawer li {
  margin: 1rem 0;
}

#side-drawer a {
  color: wheat;
  font-size: 2rem;
}

#side-drawer ul {
  list-style: none;
  margin: 0;
  padding: 4rem 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

main h1 {
  text-align: center;
  color: rgb(236, 98, 98);
  font-size: 3rem;
}

#latest-products {
  width: 50%;
  margin: 2rem auto;
}

#latest-products ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

.food-item {
  background-color: rgb(182, 225, 228);
  border-radius: 6px;
  overflow: hidden;
  color: rgb(44, 41, 38);
}

.food-item-content {
  padding: 1rem;
  text-align: center;
}

.food-item img {
  height: 80%;
  /* height: 15rem; */
  width: 100%;
  object-fit: cover;
  /* height: 313px;
    width: 470px; */
}

.food-item h2 {
  margin: 0 0 1rem 0;
}

.btn {
  background-color: rgb(43, 49, 63);
  color: white;
  border-radius: 4px;
  padding: 0.5rem 1.5rem;
}

.btn:hover {
  background-color: rgb(82, 107, 128);
}

@media (max-width: 48rem) {
  #main-header nav {
    display: none;
  }

  .menu-btn {
    display: flex;
  }

  main h1 {
    font-size: 1.5rem;
  }

  #latest-products ul {
    grid-template-columns: 100%;
  }
}
