body {
  background-color: rgb(178, 196, 196);
  font-family: sans-serif;
}

h1 {
  text-align: center;
  margin: 2rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form {
  width: 40rem;
  margin: auto;
  background-color: rgb(238, 243, 247);
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 1);
}

section {
  margin-bottom: 1rem;
}

label {
  margin: 0.5rem 0;
  display: block;
}

input,
textarea,
select {
  width: 100%;
  display: block;
  margin-bottom: 1rem;
  box-sizing: border-box;
  font: inherit;
  border: 1px solid rgb(184, 184, 184);
  padding: 0.5rem;
  border-radius: 4px;
}

textarea {
  resize: none;
}

input:focus,
textarea:focus {
  background-color: rgb(255, 248, 248);
  color: rgb(32, 5, 63);
  border-color: rgb(32, 5, 63);
}

button {
  border: 1px solid rgb(8, 1, 15);
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  font: inherit;
  cursor: pointer;
}

#form-buttons {
    text-align: right;
}

.btn-filled {
    background-color: rgb(65, 65, 150);
    color: white;
}

.btn-empty {
    background-color: transparent;
    color: rgb(11, 11, 131);
}

.btn-filled:hover {
    background-color: rgb(53, 53, 153);
    border-color: rgb(53, 53, 153);
}

.btn-empty:hover {
    background-color: rgb(212, 212, 241);
}

.form-control-inline {
  display: flex;
}

.form-control-inline label {
  margin: 0;
  margin-left: 0.5rem;
}

.form-control-inline input {
  width: auto;
  margin-right: 0.25rem;
}
